<div class="article">
    <div class="article-left get-left">
        <app-list></app-list>
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>   
        <app-list></app-list>      
        <div class="button-container">
            <a href="#">
                <div class="button-more">
                    <span>More </span>
                    <div class="position-arrow">
                         <span class="arrow right"></span>
                    </div>
                </div>
            </a>
        </div>
    </div>
    <div class="article-right get-left">
        <div class="top-banner">
            <a href="">
                <img src="assets/images/bannerTop.png" alt="">
            </a>
        </div>
        <div class="recommend-container">
            <h3>Recommends</h3>
            <hr>
            <a href="#">
                <div class="article-container">
                    <div class="article-image get-left">
                        <img src="assets/images/side_article2.png" alt="article" class="images-hover-off">
                        <img src="assets/images/side_article1.png" alt="article" class="images-hover-on">
                    </div>
                    <div class="article-content get-left">
                        <div class="title">
                            <h3>{{Title}}</h3>
                        </div>
                        <div class="date">
                            <span>{{Date}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="article-container">
                    <div class="article-image get-left">
                        <img src="assets/images/side_article2.png" alt="article" class="images-hover-off">
                        <img src="assets/images/side_article1.png" alt="article" class="images-hover-on">
                    </div>
                    <div class="article-content get-left">
                        <div class="title">
                            <h3>{{Title}}</h3>
                        </div>
                        <div class="date">
                            <span>{{Date}}</span>
                        </div>
                    </div>
                </div>
            </a>
            <a href="#">
                <div class="article-container">
                    <div class="article-image get-left">
                        <img src="assets/images/side_article2.png" alt="article" class="images-hover-off">
                        <img src="assets/images/side_article1.png" alt="article" class="images-hover-on">
                    </div>
                    <div class="article-content get-left">
                        <div class="title">
                            <h3>{{Title}}</h3>
                        </div>
                        <div class="date">
                            <span>{{Date}}</span>
                        </div>
                    </div>
                </div>
            </a>
        </div>
        <div class="bottom-banner">
            <a href="#">
                <img src="assets/images/bannerBottom.png" alt="article" >
             </a>
             <a href="#">
                <img src="assets/images/bannerBottom.png" alt="article" >
             </a>
             <a href="#">
                <img src="assets/images/bannerBottom.png" alt="article" >
             </a>
        </div>
    </div>
</div>