<a href="#" >
    <div class="article-container">
        <div class="article-image get-left">
            <img src="assets/images/article2.png" alt="article" class="images-hover-off">
            <img src="assets/images/article1.png" alt="article" class="images-hover-on">
        </div>
        <div class="article-content get-left">
            <div class="date">
                <span>{{Date}}</span>
            </div>
            <div class="title">
                <h3>{{Title}}</h3>
            </div>
            <div class="preview">
                <p>{{Paragraph}}</p>
            </div>
        </div>
    </div>
</a>
